# Web Framework
flask==2.3.3

# HTTP and HTML Processing
requests==2.31.0
beautifulsoup4==4.12.2

# Data Processing and Analysis
pandas
numpy

# Data Visualization
matplotlib
plotly

# Machine Learning
scikit-learn

# Utilities
python-dateutil==2.8.2

Flask-Login==0.6.2
Flask-WTF==1.1.1
email-validator==2.0.0